body {
  font-family: "Helvetica Neue";
}

html {
  font-size: 0.875rem;
  font-family: "Helvetica Neue";
}

@media (min-width: 544px) {
  html {
    font-size: 1rem;
  }
}
@media (min-width: 769px) {
  html {
    font-size: 1.125rem;
  }
}
h1 {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Helvetica Neue";
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Helvetica Neue";
}

h3 {
  font-size: 1.67rem;
  font-weight: 900;
  font-family: "Helvetica Neue";
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

h5 {
  font-weight: 600;
  font-family: "Helvetica Neue";
}

html {
  font-size: 1rem;
}

h3 {
  text-align: unset;
}

.pdPlus-wrapper {
  overflow: hidden;
}
@media (max-width: 768.98px) {
  .pdPlus-wrapper h1 {
    font-size: 2rem;
  }
}
@media (max-width: 768.98px) {
  .pdPlus-wrapper .mb-sm-3-5 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 769px) {
  .pdPlus-wrapper .region {
    margin-bottom: 0;
  }
}
@media (max-width: 768.98px) {
  .pdPlus-wrapper .region {
    margin-bottom: 1.25rem;
  }
  .pdPlus-wrapper .region:last-child {
    margin-bottom: 0;
  }
}
.pdPlus-wrapper .region_square::before {
  padding-top: 0;
}
.pdPlus-wrapper [class*=experience-pd_] {
  width: 100%;
}
.pdPlus-wrapper [class*=experience-pd_] > div,
.pdPlus-wrapper [class*=experience-pd_] > figure {
  height: 100%;
}
.pdPlus-wrapper [class*=experience-pd_] .carousel-item {
  position: absolute;
}
.pdPlus-wrapper [class*=experience-pd_] .carousel-inner {
  margin-left: 0;
  margin-right: 0;
}